{% extends "layout.html" %}
{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>{{ recipe.Recipe.recipe_title }}</h2>
    <h5>
      <a href="{{ url_for('recipes.edit_recipe', recipe_id=recipe.Recipe.id) }}">Edit</a>
      |
      <a href="{{ url_for('recipes.delete_recipe', recipe_id=recipe.Recipe.id) }}">Delete</a>
    </h5>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Description</div>
        <div class="panel-body">{{ recipe.Recipe.recipe_description }}</div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Public or Private</div>
        {% if recipe.Recipe.is_public %}
          <div class="panel-body">Public</div>
        {% else %}
          <div class="panel-body">Private</div>
        {% endif %}
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Recipe Type</div>
        <div class="panel-body">{{ recipe.Recipe.recipe_type }}</div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Rating (1-worst to 5-best)</div>
        <div class="panel-body">{{ recipe.Recipe.rating }}</div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Inspiration</div>
        <div class="panel-body">{{ recipe.Recipe.inspiration }}</div>
      </div>
   </div>

    <div class=".col-xs-6 .col-md-8">
      {% if recipe.Recipe.image_url %}
        <img src="{{ recipe.Recipe.image_url }}" alt="{{ recipe.Recipe.image_filename }}" style="width:600px;height:450px;">
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Ingredients</div>
        <div class="panel-body">
          {{ recipe.Recipe.ingredients_html | safe }}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Recipe Steps</div>
        <div class="panel-body">
          {{ recipe.Recipe.recipe_steps_html | safe }}
        </div>
      </div>
    </div>
  </div>

</div>`

{% endblock %}
