Collecting freeze
  Downloading freeze-1.0.10.tar.gz
Requirement already satisfied (use --upgrade to upgrade): six in /Users/patrickkennedy/.virtualenvs/ffr_env/lib/python3.4/site-packages (from freeze)
Building wheels for collected packages: freeze
  Running setup.py bdist_wheel for freeze: started
  Running setup.py bdist_wheel for freeze: finished with status 'done'
  Stored in directory: /Users/patrickkennedy/Library/Caches/pip/wheels/dd/f2/47/087b0fa08df94a9e9ded33273bd30e6d03a7b5ff0d0d452edc
Successfully built freeze
Installing collected packages: freeze
Successfully installed freeze-1.0.10
